// Analysis parameters

params.data = './data09_per_assay/*.tsv'
params.test_data = './test_data09_per_assay/*.tsv'


params.correlation = 0.9
params.models_to_test = ['ada', 'AdaBag', 'gbm', 'kknn', 'knn', 'lda', 'LogitBoost', 'naive_bayes', 'ranger', 'Rborist', 'rf', 'xgbDART', 'treebag', 'C5.0', 'regLogistic', 'xgbTree', 'svmLinearWeights', 'nnet', 'pcaNNet']
params.outdir='./trained_models/twoClassSummary/data09/'
params.resultsdir='./results_stat/twoClassSummary/'

// Following lines are for evaluating the models
//params.model_files_folder = './trained_models/twoClassSummary/data09/*/*.rda'
//params.outdir = './evaluated_models/'

process.executor = 'slurm'
process.queue = 'amd'

includeConfig './base.config'

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}
